h1 {
  text-align: center;
  font-family: sans-serif;
  color: coral;
}
p {
  margin-top: 75%;
  margin-left: 20px;
}
.content {
  display: flex;
}
.page {
  padding: 5%;
}
h4 {
  text-align: center;
}
